<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/empty_index.css">
    <title>Home</title>
</head>
<body>
    <div><h1>Student List</h1></div>

    <div><p>
            No student found. Add the students now!<br>
            <div id="add_student">
                <a href='{{ url_for("add_student") }}'>+Add Student</a>
            </div>
        </p>
    </div>
    

</body>
</html>